{% extends 'base.html' %}
    {% block title %}Update article{% endblock%}
{% block content %}
<div class="container">
  <h1>Update article</h1>
  <form method="POST">
    <input type="title" name="title" id="title" class="form-control" placeholder="title" value="{{ article.title }}"><br>
    <textarea name="intro" id="intro" class="form-control"  placeholder="intro..">{{ article.intro }}</textarea><br>
    <textarea name="text" id="text" class="form-control" placeholder="text..">{{ article.text }}</textarea><br>
    <input type="submit" class="btn btn-success" value="Update">

  </form>
</div>
{% endblock%}
